.idea_modules/
.idea/**/caches/
.idea/**/dataSources/
.idea/**/libraries/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/modules.xml
.idea/**/mongoSettings.xml
.idea/**/replstate.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml

.gradle/
build/
bin/
gen/

.navigation/
captures/
proguard/

local.properties

*.iml
*.log
*.jks
*.apk
*.class

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
